<h3 class="register_head">Forgot Password ?</h3>
<mat-card>
  <form class="example-form" name="resetform" #reset="ngForm" (ngSubmit)="resetform(User)" novalidate>
    <mat-form-field>
      <input matInput name="email" [(ngModel)]="User.email" #email="ngModel" placeholder="Enter your Email ID" required>
      <span matPrefix><i class="material-icons">email</i>&nbsp;</span>
    </mat-form-field>
    <div *ngIf="email.errors && (email.dirty || email.touched)" class="error_msgs">
      <small [hidden]="!email.errors.required">
        Email is required
      </small>
      <small [hidden]="!email.errors.pattern">
        Email is invalid
      </small>
    </div>
    <mat-form-field>
      <input matInput name="password" [(ngModel)]="User.password" #password="ngModel" placeholder="Create Password" minlength="6" maxlength="60" required>
      <span matPrefix><i class="material-icons">lock</i>&nbsp;</span>
    </mat-form-field>
    <div *ngIf="password.errors && (password.dirty || password.touched)" class="error_msgs">
      <small [hidden]="!password.errors.required">
        Password is required
      </small>
      <small [hidden]="!password.errors.minlength">
        Password should be minimum 6 characters
      </small>
      <small [hidden]="!password.errors.maxlength">
        Password should be maximum 60 characters
      </small>
    </div>
    <mat-form-field>
      <input matInput name="confirmpassword" [(ngModel)]="User.confirmpassword" #confirmpassword="ngModel" placeholder="Confirm Password" required>
      <span matPrefix><i class="material-icons">lock</i>&nbsp;</span>
    </mat-form-field>
    <div *ngIf="(User.password !== User.confirmpassword) && confirmpassword.touched" class="error_msgs">
      <small>
        Password do not match
      </small>
    </div>
    <div class="register_btn">
      <button type="submit" mat-raised-button color="accent">Submit</button>
    </div>  
  </form>
</mat-card>
<p class="link_text">Don't have an account <a routerLink="/signup">Sign Up</a> here</p>
<p class="link_text">Already have an account <a routerLink="/login">Login </a> here</p>